@media screen and (min-width: 768px) {
  .headline {
    padding-left: 10.42rem;
  }

  .headline a {
    white-space: nowrap;
  }

  .hamburger {
    display: none;
  }

  .mobile-menu {
    display: none;
  }

  .main-menu {
    display: block;
  }

  .main-menu ul {
    padding-right: 8rem;
    list-style: none;
    display: flex;
    gap: 0 32px;
  }

  .main-menu a {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
  }

  .main-menu li a:hover {
    color: #e05304;
    transition: all 0.3s;
  }

  .contact-icon {
    background: url(../Images/icons/contact-icon.svg) no-repeat center center/cover;
    width: 22px;
    height: 18px;
    display: block;
  }

  .headline_section {
    overflow: none;
    display: flex;
    background-image: url(../Images/Illustration-header.svg);
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 36vw 90vh;
    background-color: #1c1a19;
    flex-direction: row-reverse;
    height: 100vh;
  }

  .image-icons-header {
    order: 1;
    display: flex;
    flex-direction: column;
    padding-right: 2rem;
    padding-top: 5rem;
  }

  .headline_section h1 {
    font-size: 72px;
    line-height: 81px;
    margin-left: 50px;
  }

  .h4 {
    width: 45.3%;
    height: 27px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    text-align: left;
    color: #fff;
    margin: 12px 0 12px 50px;
  }

  .p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    margin: 12px 0 12px 50px;
    width: 45.3%;
    color: #f4f5f7;
    margin-top: 12px;
  }

  #resent-works {
    padding: 0 117px;
    color: #091e42;
    margin-top: 5rem;
  }

  .line {
    display: flex;
    flex-direction: row;
    color: #091e42;
    align-items: center;
    margin-bottom: 5rem;
  }

  .line h2 {
    min-width: 300px;
  }

  .line hr {
    height: 2px;
    background-color: #091e42;
    width: 100%;
  }

  .img-txt {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }

  .card-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 141px;
    gap: 1rem;
    margin-top: 24px;
    margin-bottom: 130px;
  }

  .background-graphic {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../Images/desktop-about.png) no-repeat;
    background-size: 45vw 40vh;
    background-position: right top;
  }

  .horizontal-seperator-on-dark {
    margin-top: 157px;
    width: 80%;
    align-self: center;
  }

  #about-section {
    overflow: hidden;
    background: #262626;
  }

  .about-heading {
    align-self: flex-start;
  }

  .about-introduction {
    z-index: 1;
  }

  .about-introduction-content {
    width: 60%;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 142px;
    gap: 1rem 10rem;
    z-index: 1;
  }

  .about-introduction-content p {
    text-shadow: -1px 1px 1px black;
  }

  .about-myself {
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 142px;
    gap: 0 10rem;
    z-index: 1;
  }

  .about-section-content {
    align-items: flex-start;
  }

  .contact-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 0 24px;
    padding-left: 142px;
    padding-right: 142px;
  }

  #contact-me h2 {
    margin: 0;
    text-align: left;
    font-size: 40px;
    line-height: 55px;
  }

  #contact-me {
    padding-top: 130px;
  }

  form ul .btn {
    align-self: flex-start;
  }

  .image-icons-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 40px;
    gap: 18px;
  }

  .contact-header {
    text-align: start;
  }

  .btn-pos {
    position: absolute;
    bottom: 5px;
  }

  .project-details {
    align-self: flex-end;
  }

  .hover-content:hover {
    transform: scale(1.05);
    transition: all 0.5s;
  }

  .hover-content .dark-hover * {
    display: none;
  }

  .hover-content .img-hover * {
    display: block;
  }

  .hover-content:hover .dark-hover * {
    display: block;
  }

  .hover-content:hover .img-hover * {
    display: none;
  }

  .img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 2rem;
  }

  .img-one {
    background-image: url(../Images/portfolio/card-four.png);
  }

  .img-2 {
    background-image: url(../Images/portfolio/card-two.png);
  }

  .img-3 {
    background-image: url(../Images/portfolio/card-three.png);
  }

  .img-4 {
    background-image: url(../Images/portfolio/card-four.png);
  }

  .img-5 {
    background-image: url(../Images/portfolio/card-five.png);
  }

  .img-6 {
    background-image: url(../Images/portfolio/card-six.png);
  }

  .btn-contact {
    width: 131px;
    height: 48px;
    align-self: center;
  }

  .cards {
    width: 100%;
  }

  /* =============================================== */
  .project-details-popup {
    padding: 3rem 7.3rem;
  }

  .tech-list li {
    border: 1px solid #8993a4;
    padding: 10px 12px;
    background-color: #ffffff3a;
    font-family: "Inter", sans-serif;
  }

  .modal-buttons {
    justify-content: flex-start;
  }

  .pop-head {
    justify-content: space-between;
  }

  .project-details-inner {
    padding: 24px;
  }

  .project-details-inner img {
    width: 50%;
    max-height: 448px;
    max-width: 660px;
  }

  .popup-content {
    flex-direction: row;
  }

  .popup-lower {
    justify-content: space-between;
  }

  .project-details-header {
    gap: 10px;
  }

  .popup-lower p {
    font-size: 16px;
    line-height: 30px;
    color: #344563;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 768px) {
  .card-section {
    grid-template-columns: repeat(2, 1fr);
  }
}
