* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
  width: 100%;
}

header {
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* headline styles */
.headline {
  height: 72px;
  width: 100%;
  padding: 10px 12px;
  background: #3c3a39;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-right: 100px;
}

.rel-pos {
  position: relative;
}

.main-menu {
  display: none;
}

li {
  list-style-type: none;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #3c3a39;
  padding: 50px 24px;
  z-index: 2;
  display: none;
}

.mobile-menu ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 24px 0;
}

.skills-details li {
  padding: 10px 12px;
  margin: 12px 2px 22px 13px;
  height: 40px;
  background: rgba(255, 255, 255, 0.24);
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
}

.languages li {
  border: 1px solid #8993a4;
  padding: 10px 12px;
  background-color: #ffff3a;
  font-family: "Inter", sans-serif;
}

.about-section-content li {
  font-family: "Inter", sans-serif;
  font-style: normal, sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
}

.mobile-menu ul li a {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  color: #fff5e1;
  padding-bottom: 15px;
}

.mobile-menu ul li {
  border-bottom: 1px solid #6f6c6b;
  width: 87.2%;
}

.show {
  display: block;
}

.hamburger {
  background: url(../Images/Menu.png) no-repeat center/cover;
  height: 16px;
  width: 18px;
}

.close-icon {
  background: url(../Images/icons/close.png) no-repeat center/cover;
  width: 14px;
  height: 12px;
  z-index: 3;
  position: fixed;
  right: 4rem;
}

.headline_section {
  overflow: hidden;
  background-image: url(../Images/Illustration.png);
  background-position-y: 100%;
  background-color: #1c1a19;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  height: auto;
  width: 100%;
  padding: 124px 24px;
  gap: 12px;
  background-position: right bottom;
  background-size: 140px;
  background-repeat: no-repeat;
}

.logo {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 1em;
  font-size: 18pt;
  line-height: 24px;
  align-items: center;
  text-align: center;
  color: white;
  order: 0;
  margin-left: 10px;
  text-decoration: none;
}

.h1 {
  color: #ff6b00;
  width: 87.2%;
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
}

.h4 {
  width: 87.2%;
  height: 27px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  align-items: center;
  color: #fff;
  margin-top: 12px;
  margin-bottom: 12px;
}

.p {
  width: 87.2%;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #f4f5f7;
  margin-top: 0;
  margin-bottom: 12px;
}

.image-icons-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 151px 120px 24px;
  height: 40px;
  gap: 18px;
}

/* --------------------------- */
.recent {
  display: flex;
  flex-direction: column;
  padding-left: 24px;
  padding-right: 24px;
}

.line {
  margin-bottom: 80px;
  margin-top: 120px;
}

.recent h2 {
  position: relative;
  font-family: 'Crete Round', serif;
  font-size: 35px;
}

.recent hr {
  position: relative;
}

.recent h3 {
  position: relative;
  font-family: 'Crete Round', serif;
  font-size: 30px;
}

.recent img {
  position: relative;
  width: 100%;
}

.recent p {
  position: relative;
  font-size: 16px;
}

.card-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  margin-bottom: 120px;
}

.cards {
  overflow: hidden;
  width: 87.2%;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #fff;
  height: 435px;
}

.img {
  height: 386px;
  background-image: url(../Images/portfolio/card-three.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.cards h3 {
  position: absolute;
  bottom: 175px;
  font-size: 32px;
  padding-left: 16px;
  letter-spacing: 4px;
  text-align: left;
  font-family: 'Crete Round', serif;
}

.cards p {
  position: absolute;
  bottom: 100px;
  text-align: left;
  font-family: 'Inter', sans-serif;
  padding-left: 16px;
}

.cards ul {
  position: absolute;
  bottom: 12px;
  padding-left: 16px;
  text-align: left;
}

.skills button {
  background: linear-gradient(0deg, #fff, #fff), linear-gradient(0deg, #8993a4, #8993a4);
  color: #091e42;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  font-family: 'Inter', serif;
  padding: 8px;
  border: 1px solid #8993a4;
}

.multi {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 24px 0;
}

.projects {
  margin-top: 7px;
  height: 48px;
  width: 124px;
  border-radius: 0;
  padding: 12px;
  background: #ff6b00;
  border: none;
  color: #fff;
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  font-family: 'Inter', serif;
}

.projects:hover {
  border: 1px solid #f55800;
  background-color: #fff5e1;
  color: #f55800;
}

.projects:active {
  background-color: #e05304;
  color: #f4f1f0;
}

.projects:disabled {
  border: 1px solid transparent;
  color: #5b5957;
  background-color: #f4f1f0;
}

.skills-details {
  display: flex !important;
  flex-direction: row;
}

.project-details {
  margin: 0;
  height: 48px;
  border-radius: 0;
  padding: 12px;
  background: #ff6b00;
  border: none;
  color: #fff;
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  font-family: 'Inter', serif;
  width: 100%;
}

.project-details:hover {
  border: 1px solid #f55800;
  background-color: #fff5e1;
  color: #f55800;
  transition: all 0.4s ease-in-out;
}

.project-details:active {
  background-color: #e05304;
  color: #f4f1f0;
}

.project-details:disabled {
  border: 1px solid transparent;
  color: #5b5957;
  background-color: #f4f1f0;
}

/* About me Section */
.about-section {
  padding-bottom: 120px;
  padding-top: 120px;
  background-color: #1c1a19;
  font-family: "Crete Round", serif;
  display: flex;
  flex-direction: column;
}

.about-section-content {
  font-family: "Inter", sans-serif;
  color: #fff;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px 0;
}

.language-section {
  display: flex;
  flex-direction: column;
  gap: 44px 0;
}

.about-myself {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 44px 0;
}

#skill-list-container {
  display: flex;
  flex-direction: column;
  gap: 40px 0;
}

.contact-wrapper {
  padding: 69px 25px 0 23px;
}

.contact-header {
  width: 87.2%;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
  margin-bottom: 105px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.contact-wrapper form input {
  border: none;
  border-bottom: 1px solid #dbd8d7;
  padding: 14px 17px;
}

.contact-wrapper input::placeholder {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #979493;
}

textarea {
  background: #fbf8f7;
  border: none;
  padding: 10px 10px;
  height: 114px;
}

textarea::placeholder {
  font-family: 'Inter', sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #3c3a39;
}

.btn-contact {
  width: 131px;
  height: 48px;
  align-self: center;
}

#contact-detail {
  border: none;
  border-bottom: 1px solid #dfe1e6;
  padding-bottom: 80px;
  margin-bottom: 25px;
}

.background-graphic {
  width: 150px;
  height: 230px;
  background: url("../Images/Frame.png") no-repeat center center;
  background-size: cover;
  align-self: flex-end;
}

.about-heading {
  color: #ff6b00;
  font-size: 72px;
  text-align: center;
}

.horizontal-seperator-on-dark {
  border: 1px solid #f5f5f5;
  border-radius: 5px;
  margin: 24px 24px 80px;
}

.about-section p {
  color: #fff;
  font-size: 16px;
}

.about-introduction-content {
  margin: 0 24px;
  display: flex;
  gap: 24px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.my-resume-button {
  border: 1px solid transparent;
  line-height: 24px;
  padding: 12px;
  font-size: 17px;
  font-weight: 700;
  color: #fff;
  background-color: #ff6b00;
}

.my-resume-button:hover {
  border: 1px solid #f55800;
  background-color: #fff5e1;
  color: #f55800;
}

.my-resume-button:active {
  background-color: #e05304;
  color: #f4f1f0;
}

.my-resume-button:disabled {
  border: 1px solid transparent;
  color: #5b5957;
  background-color: #f4f1f0;
}

.about-introduction-content p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
  width: 55%;
}

.list-style {
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-style h2 {
  font-family: 'InaiMathi', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.diamond {
  height: 18px;
  width: 18px;
  background-color: #ff6b00;
  margin-right: 12px;
  margin-top: 5px;
  transform: rotate(45deg);
}

.square {
  height: 18px;
  width: 18px;
  background-color: #ff6b00;
  margin-right: 12px;
}

.circle {
  height: 18px;
  width: 18px;
  background-color: #ff6b00;
  margin-right: 12px;
  border-radius: 50%;
}

.image-icons-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 40px;
  gap: 18px;
}