@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
:root {
  --glow-color: #ff6b00;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
  width: 100%;
}

header {
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* headline styles */
.headline {
  height: 72px;
  width: 100%;
  padding: 10px 12px;
  background: #3c3a39;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-right: 100px;
}

.rel-pos {
  position: relative;
}

.main-menu {
  display: none;
}

li {
  list-style-type: none;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #3c3a39;
  padding: 50px 24px;
  z-index: 2;
  display: none;
}

.mobile-menu ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 24px 0;
}

.skills-details li {
  padding: 10px 12px;
  margin: 12px 2px 22px 13px;
  height: 40px;
  background: rgba(255, 255, 255, 0.24);
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
}

.languages li {
  border: 1px solid #8993a4;
  padding: 10px 12px;
  background-color: #ffff3a;
  font-family: "Inter", sans-serif;
}

.about-section-content li {
  font-family: "Inter", sans-serif;
  font-style: normal, sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
}

.modal-buttons div a {
  text-decoration: none;
  color: #fff;
}

.mobile-menu ul li a {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  color: #fff5e1;
  padding-bottom: 15px;
}

.tech-list li {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #3c3a39;
  border: 1px solid #8993a4;
  padding: 10px 12px;
  margin-bottom: 30px;
}

.mobile-menu ul li {
  border-bottom: 1px solid #6f6c6b;
  width: 98%;
}

.mobile-menu ul li a:hover {
  color: #e05304;
  transition: all 0.3s;
}

.show {
  display: block;
}

.hamburger {
  background: url(../Images/Menu.png) no-repeat center/cover;
  height: 16px;
  width: 18px;
}

.close-icon {
  background: url(../Images/icons/close.png) no-repeat center/cover;
  width: 14px;
  height: 12px;
  z-index: 3;
  position: fixed;
  right: 2rem;
}

.headline_section {
  overflow: hidden;
  background-image: url(../Images/Illustration.png);
  background-position-y: 100%;
  background-color: #1c1a19;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  height: auto;
  width: 100%;
  padding: 124px 24px;
  gap: 12px;
  background-position: right bottom;
  background-size: 140px;
  background-repeat: no-repeat;
}

.logo {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 1em;
  font-size: 18pt;
  line-height: 24px;
  align-items: center;
  text-align: center;
  color: white;
  order: 0;
  margin-left: 10px;
  text-decoration: none;
}

.h1 {
  color: var(--glow-color);
  width: 87.2%;
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
}

.h4 {
  width: 87.2%;
  height: 27px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  align-items: center;
  color: #fff;
  margin-top: 12px;
  margin-bottom: 12px;
}

.p {
  width: 87.2%;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #f4f5f7;
  margin-top: 0;
  margin-bottom: 12px;
}

.image-icons-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 151px 120px 24px;
  height: 40px;
  gap: 18px;
}

/* --------------------------- */
.recent {
  display: flex;
  flex-direction: column;
  padding-left: 24px;
  padding-right: 24px;
}

.line {
  margin-bottom: 80px;
  margin-top: 120px;
}

.recent h2 {
  position: relative;
  font-family: 'Crete Round', serif;
  font-size: 35px;
}

.recent hr {
  position: relative;
}

.recent h3 {
  position: relative;
  font-family: 'Crete Round', serif;
  font-size: 30px;
}

.recent img {
  position: relative;
  width: 100%;
}

.recent p {
  position: relative;
  font-size: 16px;
}

.card-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  margin-bottom: 120px;
}

.cards {
  overflow: hidden;
  width: 87.2%;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #fff;
  height: 435px;
}

.img {
  height: 386px;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(60%);
}

.img:hover {
  filter: brightness(100%);
}

.img-1 {
  background-image: url(../Images/portfolio/vespa.png);
}

.img-2 {
  background-image: url(../Images/portfolio/quiz-app-0.jpg);
}

.img-3 {
  background-image: url(../Images/portfolio/weather.png);
}

.img-4 {
  background-image: url(../Images/portfolio/raki-mob.jpg);
}

.img-5 {
  background-image: url(../Images/portfolio/teck-summit.jpg);
}

.img-6 {
  background-image: url(../Images/portfolio/expense.jpg);
}

.cards h3 {
  position: absolute;
  bottom: 175px;
  font-size: 32px;
  padding-left: 16px;
  letter-spacing: 4px;
  text-align: left;
  font-family: 'Crete Round', serif;
}

.cards p {
  position: absolute;
  bottom: 100px;
  text-align: left;
  font-family: 'Inter', sans-serif;
  padding-left: 16px;
}

.cards ul {
  position: absolute;
  bottom: 12px;
  padding-left: 16px;
  text-align: left;
}

.skills button {
  background: linear-gradient(0deg, #fff, #fff), linear-gradient(0deg, #8993a4, #8993a4);
  color: #091e42;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  font-family: 'Inter', serif;
  margin: 8px;
  padding: 8px;
  border: 1px solid #8993a4;
}

.multi {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 24px;
}

.projects {
  position: relative;
  margin-top: 7px;
  height: 48px;
  width: 124px;
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  font-family: 'Inter', serif;
  color:   #f4f1f0;
  cursor: pointer;
  border: 0.15em solid  var(--glow-color);
  border-radius: 0.45em;
  background-color: var(--glow-color);
  box-shadow: 0 0 2em 0.2em var(--glow-color);
  perspective: 2em;

  -webkit-box-shadow: inset 0px 0px 0.5em 0px  var(--glow-color),
    0px 0px 0.5em 0px  var(--glow-color);
  -moz-box-shadow: inset 0px 0px 0.5em 0px  var(--glow-color),
    0px 0px 0.5em 0px  var(--glow-color);
  box-shadow: inset 0px 0px 0.5em 0px  var(--glow-color),
    0px 0px 0.5em 0px  var(--glow-color);
}

.projects::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  transition: opacity 100ms linear;

  color:   #000;
  cursor: pointer;
  border: 0.15em solid   hsl(186 100% 69%);
  border-radius: 0.45em;
  background-color:  hsl(186 100% 69%);
  box-shadow: 0 0 2em 1em  hsl(186 100% 69%);
}

.projects:hover {
  color: rgba(0, 0, 0, 0.8);
  text-shadow: none;
  animation: none;
}

.projects:hover:before {
  filter: blur(1.5em);
  opacity: 1;
}

.projects:hover:after {
  opacity: 1;
}

@media only screen and (max-width: 600px) {
  .projects{
    font-size: 1em;
  }
}

.skills-details {
  display: flex !important;
  flex-direction: row;
}

.project-details {
  margin: 0;
  height: 48px;
  border-radius: 0;
  padding: 12px;
  border: none;
  color: #fff;
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  font-family: 'Inter', serif;
  width: 100%;

  cursor: pointer;
  border: 0.15em solid  var(--glow-color);
  background-color: var(--glow-color);
  box-shadow: 0 0 2em 0.2em var(--glow-color);
  perspective: 2em;

  -webkit-box-shadow: inset 0px 0px 0.5em 0px  var(--glow-color),
    0px 0px 0.5em 0px  var(--glow-color);
  -moz-box-shadow: inset 0px 0px 0.5em 0px  var(--glow-color),
    0px 0px 0.5em 0px  var(--glow-color);
  box-shadow: inset 0px 0px 0.5em 0px  var(--glow-color),
    0px 0px 0.5em 0px  var(--glow-color);
}

.width-auto {
  width: auto;
}

.project-details:hover {
  border: 1px solid #f55800;
  background-color: #fff5e1;
  color: #f55800;
  transition: all 0.4s ease-in-out;
}

.project-details:active {
  background-color: #e05304;
  color: #f4f1f0;
}

.project-details:disabled {
  border: 1px solid transparent;
  color: #5b5957;
  background-color: #f4f1f0;
}

/* About me Section */
.about-section {
  padding-bottom: 120px;
  padding-top: 120px;
  background-color: #1c1a19;
  font-family: "Crete Round", serif;
  display: flex;
  flex-direction: column;
}

.about-section-content {
  font-family: "Inter", sans-serif;
  color: #fff;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px 0;
}

.language-section {
  display: flex;
  flex-direction: column;
  gap: 44px 0;
}

.about-myself {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 44px 0;
}

#skill-list-container {
  display: flex;
  flex-direction: column;
  gap: 40px 0;
}

.contact-wrapper {
  padding: 69px 25px 0 23px;
}

.contact-header {
  width: 87.2%;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
  margin-bottom: 105px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.contact-wrapper form input {
  border: none;
  border-bottom: 1px solid #dbd8d7;
  padding: 14px 17px;
}

.contact-wrapper input::placeholder {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #979493;
}

textarea {
  background: #fbf8f7;
  border: none;
  padding: 10px 10px;
  height: 114px;
}

textarea::placeholder {
  font-family: 'Inter', sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #3c3a39;
}

.btn-contact {
  width: 131px;
  height: 48px;
  align-self: center;
}

#contact-detail {
  border: none;
  border-bottom: 1px solid #dfe1e6;
  padding-bottom: 80px;
  margin-bottom: 25px;
}

.background-graphic {
  width: 150px;
  height: 230px;
  background: url("../Images/Frame.png") no-repeat center center;
  background-size: cover;
  align-self: flex-end;
}

.about-heading {
  color: var(--glow-color);
  font-size: 72px;
  text-align: center;
}

.horizontal-seperator-on-dark {
  border: 1px solid #f5f5f5;
  border-radius: 5px;
  margin: 24px 24px 80px;
}

.about-section p {
  color: #fff;
  font-size: 16px;
}

.about-introduction-content {
  margin: 0 24px;
  display: flex;
  gap: 24px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.my-resume-button {
  border: 1px solid transparent;
  line-height: 24px;
  padding: 12px;
  font-size: 17px;
  font-weight: 700;
  color: #fff;
  background-color: var(--glow-color);
  text-decoration: none;
}

.my-resume-button:hover {
  border: 1px solid #f55800;
  background-color: #fff5e1;
  color: #f55800;
}

.my-resume-button:active {
  background-color: #e05304;
  color: #f4f1f0;
}

.my-resume-button:disabled {
  border: 1px solid transparent;
  color: #5b5957;
  background-color: #f4f1f0;
}

.about-introduction-content p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
  width: 55%;
}

.list-style {
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-style h2 {
  font-family: 'InaiMathi', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.diamond {
  height: 18px;
  width: 18px;
  background-color: var(--glow-color);
  margin-right: 12px;
  margin-top: 5px;
  transform: rotate(45deg);
}

.square {
  height: 18px;
  width: 18px;
  background-color: var(--glow-color);
  margin-right: 12px;
}

.circle {
  height: 18px;
  width: 18px;
  background-color: var(--glow-color);
  margin-right: 12px;
  border-radius: 50%;
}

.image-icons-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 40px;
  gap: 18px;
}

.close-icon-detail {
  background: url(../Images/icons/close_detail.png) no-repeat center/cover;
  width: 12px;
  height: 12px;
}

.project-details-popup.show {
  display: block;
}

/* ====================================== */
.project-details-popup {
  box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
  backdrop-filter: blur(5px);
  overflow: hidden;
  height: 105vh;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 5000;
  display: none;
}

.tech-list {
  display: flex;
  bottom: 1rem;
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-start;
  list-style: none;
}

.popup-heading {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.project-details-inner {
  margin: auto;
  background-color: #fff;
  padding: 15px 16px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 3px 0 black;
}

.pop-head {
  align-self: stretch;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-details-header {
  display: flex;
  flex-direction: column;
  gap: 33px 0;
  align-self: stretch;
}

.modal-buttons {
  display: flex;
  margin-top: 1rem;
  gap: 0 20px;
}

.popup-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.popup-content img {
  border: 2px inset #eee;
}

.popup-lower {
  display: flex;
  flex-direction: column;
  align-self: self-start;
  flex-wrap: wrap;
}

.live-icon {
  background: url(../Images/icons/Icon-Export.png) no-repeat center center/cover;
  width: 24px;
  height: 24px;
}

.source-icon {
  background: url(../Images/icons/Icon-GitHub.png) no-repeat center center/cover;
  width: 24px;
  height: 24px;
}

.modal-buttons div {
  align-items: center;
  gap: 15px;
  display: flex;
}

.btn-details {
  font-family: "Inter", sans-serif;
  border: 1px solid transparent;
  line-height: 24px;
  font-size: 17px;
  padding: 12px;
  font-weight: 700;
  background-color: var(--glow-color);

  cursor: pointer;
  border: 0.15em solid  var(--glow-color);
  border-radius: 0.45em;
  background-color: var(--glow-color);
  box-shadow: 0 0 2em 0.2em var(--glow-color);
  perspective: 2em;

  -webkit-box-shadow: inset 0px 0px 0.5em 0px  var(--glow-color),
    0px 0px 0.5em 0px  var(--glow-color);
  -moz-box-shadow: inset 0px 0px 0.5em 0px  var(--glow-color),
    0px 0px 0.5em 0px  var(--glow-color);
  box-shadow: inset 0px 0px 0.5em 0px  var(--glow-color),
    0px 0px 0.5em 0px  var(--glow-color);
}

.btn-details:hover {
  border: 1px solid #f55800;
  background-color: #fff5e1;
  transition: all 0.4s ease-in-out;
}

.btn-details a:hover {
  color: #f55800;
}

.btn-details:active {
  background-color: #e05304;
  color: #f4f1f0;
}

.btn-details:disabled {
  border: 1px solid transparent;
  color: #5b5957;
  background-color: #e9a994;
}

.form-validation-msg {
  color: red;
  background: bisque;
  border-radius: 5px;
  font-family: "Inter", sans-serif;
  line-height: 24px;
  font-size: 17px;
  font-weight: 700;
}

.form-Submission-success-msg {
  color: #fff;
  background: rgb(41, 116, 41);
  border-radius: 5px;
  font-family: "Inter", sans-serif;
  line-height: 24px;
  font-size: 17px;
  font-weight: 700;
}

.form-deletion-success-msg {
  color: #fff;
  background: rgb(41, 116, 112);
  border-radius: 5px;
  font-family: "Inter", sans-serif;
  line-height: 24px;
  font-size: 17px;
  font-weight: 700;
}

.contact-btns {
  list-style: none;
  display: flex;
  align-items: center;
  column-gap: 32px;
}

.nice-button {
  font-family: 'Playgram', sans-serif;
  font-size: 1.2rem;
  position: relative;
  display: inline-block;
  padding: 2vw 3vw; 
  margin: 2vw 0; 
  color: rgb(255, 112, 23);
  text-decoration: none;
  text-transform: uppercase;
  background-color: rgba(28, 26, 25, 0);
  letter-spacing: 0.4vw; 
  overflow: hidden;
}

.nice-button:hover {
  color: #050801;
  border: none;
  background: rgb(255, 112, 23);
  box-shadow:
    0 0 0.5vw rgb(255, 112, 23),
    0 0 2.5vw rgb(255, 112, 23),
    0 0 5vw rgb(255, 112, 23),
    0 0 20vw rgb(255, 112, 23);
  -webkit-box-reflect: below 0.1vw linear-gradient(transparent, #0005);
}

.nice-button-home {
  color: #050801;
  background: rgb(255, 112, 23);
  box-shadow:
    0 0 0.5vw rgb(255, 112, 23),
    0 0 2.5vw rgb(255, 112, 23),
    0 0 5vw rgb(255, 112, 23),
    0 0 20vw rgb(255, 112, 23);
  -webkit-box-reflect: below 0.1vw linear-gradient(transparent, #0005);
}

.nice-button span {
  position: absolute;
  display: block;
}

.nice-button span:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, rgb(255, 112, 23));
  animation: animate1 1s linear infinite;
}

@keyframes animate1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}

.nice-button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, rgb(255, 112, 23));
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes animate2 {
  0% {
    top: -100%;
  }

  50%,
  100% {
    top: 100%;
  }
}

.nice-button span:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, rgb(255, 112, 23));
  animation: animate3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes animate3 {
  0% {
    right: -100%;
  }

  50%,
  100% {
    right: 100%;
  }
}

.nice-button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, rgb(255, 112, 23));
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes animate4 {
  0% {
    bottom: -100%;
  }

  50%,
  100% {
    bottom: 100%;
  }
}

::-webkit-scrollbar {
  width: 5px;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #f55800;
}
