
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

/* navbar styles */
.navbar {
  width: 100%;
  height: auto;
  padding: 10px 12px;
  left: 0%;
  right: 0%;
  background: #3c3a39;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  position: absolute;
  flex-wrap: wrap;
  margin-right: 100px;
}

.navbar a {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 10px;
  font-size: 20px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  color: white;
  order: 0;
  margin-left: 10px;
  text-decoration: none;
}

.navbar img {
  display: flex;
  right: 27.67%;
  left: 16%;
  height: 2px;
  width: 17px;
  border: 1px solid #fff;
  margin-bottom: 3px;
}

#bar {
  margin: 2px 0 2px 10px;
}

#bar img {
  height: 2px;
  width: 17px;
  border: 1px solid white;
  margin-bottom: 3px;
}

/* headline styles */
.headline {
  overflow: hidden;
  background-image: url(Images/Group.png);
  background-position-y: 120%;
  background-color: #1c1a19;
  display: flex;
  justify-content: space-between;
  text-align: left;
  height: auto;
  width: 100%;
  padding: 161px 24px;
  gap: 12px;
  background-position: right bottom;
  background-size: 140px;
  background-repeat: no-repeat;
  flex-direction: column;
  align-items: flex-start;
}

.h1 {
  color: #ff6b00;
  width: 350px;
  height: 5px;
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 200;
  font-size: 35px;
  line-height: 64px;
  letter-spacing: 0.37px;
  flex: none;
}

.h4 {
  width: 350px;
  height: 27px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  align-items: center;
  color: #fff5e1;
  flex: none;
  flex-grow: 0;
  margin-top: 50px;
  margin-bottom: 0;
}

.p {
  width: 350px;
  height: 123px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.image-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  width: 200px;
  height: 40px;
  flex: none;
  order: 3;
  gap: 18px;
}
